@charset "EUC-KR";

table{
		border-collapse: collapse;
        text-align: left;
        line-height: 2;
        width:80%;
      }
      tbody  th{
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #f3f6f7;
      }
      thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #369;
        border-bottom: 3px solid #036;
    }
    tbody td{
      border-bottom: 1px solid #ccc;
    }
